@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* общие стили */

body{
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #1C1C1C;
    color: #fff;
}

a{
    color: #fff;
    text-decoration: none;
}

p{
    margin: 0;
}
p+p{
    margin-top: 15px;
}

ul{
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500;
    margin: 0;
}

img{
    max-width: 100%;
}

.conteiner{
    box-sizing: border-box;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    width: 165px;
    height: 50px;

    background: #f6762c;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.btn:hover{
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;
 
    font-size: 12px;
}

/* Шапка */

.header{
    padding: 25px 0;
    position: relative;
    z-index: 10;
}

.header .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_list{
    display: flex;
    gap: 30px;
}

.header_nav a{ 
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header_nav a.active{ 
    font-size: 14px;
    opacity: 1;
}

.header_nav a:hover{ 
    font-size: 14px;
    opacity: 0.9;
}

.main {
}
/* Приветсвенная секция */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 190px 0;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome_text{
    width: 550px;
}

.welcome_subtitle {
    margin-bottom: 7px;

    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome_title {
    font-size: 58px;
}

.welcome_desk {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

/* карточки */

.food-list {
    padding: 100px 0;
}

.food-list .conteiner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list_card {
    width: 260px;

    overflow: hidden;
    text-align: center;

    border-radius: 10px;
    height: 324px;
    background: #312f30;
}

.food-list_img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list_text-wrapper{
    padding: 30px 20px;

}

.food-list_title {
    margin-bottom: 15px;
    font-size: 20px;
    
}

.food-list_desc {
    font-size: 16px;
    opacity: 0.7;
}

/* Прочее */
.order {
    background: #312f30;
    padding: 60px 0;
}

.order .conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 90px;
}

.order_img {
    max-width: 470px;
}

.order_text {
    max-width: 360px;
}

.order_title {
    font-size: 44px;
    margin-bottom: 25px;
}

.order_desk {
    opacity: 0.7;
    margin-bottom: 15px;
}

.order_price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.order_old-price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}

.order_price + .order_old-price{
    margin-left: 3px;
}
.order .btn{
    margin-top: 10px;
}
/* Продукты */
.product {
 padding: 150px 0;
}
.product .conteiner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.product_card {
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;

}

.product_card:nth-child(even){
    padding-left: 30px;
    padding-right: 290px;
}

.product_title {
    font-size: 30px;
    margin-bottom: 20px;
}

.product_deck {
    font-size: 16px;
    opacity: 0.7;
    margin-bottom: 5px;
}

.product_price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    color: #f6762c;
}

.product_old-price {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-decoration: line-through;
    color: #f6762c;
    opacity: 0.5;
}
.product_price + .product_old-price{
    margin-left: 3px;
}
.product .btn{
    margin-top: 10px;
}

.card-queen{
    background-image: url(./images/product-1.jpg);
}
.card-hut{
    background-image: url(./images/product-2.jpg);
}
.card-king{
    background-image: url(./images/product-3.jpg);
}
.card-John’s{
    background-image: url(./images/product-4.jpg);
}
/* цитата */

.feedback {
 padding-bottom: 200px;
}

.feedback .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback_img {
    max-width: 346px;
    min-height: 346px;
}

.feedback_text {
    margin: 0;
    width: 370px;
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

.feedback_text::before{
    content: url(./images/icons/quote.svg);
}

.feedback_deck {
    font-size: 16px;
    opacity: 0.7;
    margin: 30px 0; 
}

.feedback_autor {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback_subautor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}
/* загрузка */
.download {
    padding: 60px 0;
    background: #312f30;
}

.download .conteiner {
    display: flex;
    justify-content: space-around;
}

.download_title {
    font-weight: 500;
    font-size: 40px;
}
/* концовка */

.footer {
    padding: 120px 0;

}
.footer a{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    transition: 0.3s;
}
.footer a:hover{
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer_title {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}
.footer .conteiner {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer_logo {
    /* display: inline-block; */
    width: 70px;
    margin-bottom: 20px;
}
.footer_link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer_link + .footer_link{
    margin-top: 10px;
}
.footer_link::before{
    width: 12px;
    height: 12px;
}

.footer_link-mail::before {
        content: url(./images/icons/mail.svg);
}

.footer_link-web::before  {
    content: url(./images/icons/global.svg);
}

.footer_nav {

}

.footer_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer_list-title {

}

.footer_inner-list {

}

.footer_list-item + .footer_list-item{
    margin-top: 15px;
}

.footer_socials {

}

.footer_socials-icons {

}

.footer_socials-link +.footer_socials-link {
    margin-left: 8px;
}
